<!DOCTYPE html>
<html>
    <head>
        <title>Vulnerable Sites</title>
    </head>
    <body>
        <h1>Vulnerable Sites</h1>
        <li><a href="/reflected_xss">Reflected XSS Vulnerability Site</a></li>
        <li><a href="/path_traversal">Path Traversal Vulnerability Site</a></li>
        <li><a href="/os_command_injection">OS Command Injection</a></li>
        <li><a href="/stored_xss/board">Stored XSS Vulnerability Site</a></li>
    </body>
</html>