<!DOCTYPE html>
<html>
    <head>
        <title>Vulnerable Sites</title>
    </head>
    <body>
        <h1>Vulnerable Sites</h1>
        <li><a href="XSS">XSS_vulnerability_site</a></li>
        <li><a href="path_traversal">pathtraversal_vulnerability_site</a></li>
    </body>
</html>