<!DOCTYPE html>
<html>
<head>
  <title>OS Command Injection Result</title>
</head>
<body>
  <h1>OS Command Injection Result</h1>
  <pre><%= output %></pre>
  <button><a href="/os_command_injection">Back</a></button>
</body>
</html>
