<!DOCTYPE html>
<html>
<head>
  <title>OS Command Injection</title>
  <style>
    a {
      color: rgb(20, 0, 170);
      text-decoration: underline;
    }
  </style>
</head>
<body>
  <h1>OS Command Injection</h1>
  <input type="text" id="commandInput" value="">

  <a href="/os_command_injection/result?command=" id="commandLink">Submit</a>
  
  <script>
    document.getElementById('commandInput').addEventListener('input', function() {
      const inputValue = this.value;
      const targetUrl = `/os_command_injection/result?command=${(inputValue)}`;
      
      document.getElementById('commandLink').setAttribute('href', targetUrl);
    });
  </script>
  
</body>
</html>
